Collections/bin/Debug/Collections.dll
Collections/bin/Debug/Collections.pdb
Collections/obj/Debug/Collections.csproj.FileListAbsolute.txt
Collections/obj/Debug/Collections.csprojResolveAssemblyReference.cache
Collections/obj/Debug/Collections.dll
Collections/obj/Debug/Collections.pdb
Collections/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Collections/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Collections/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Collections/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Driver/bin/Debug/Collections.dll
Driver/bin/Debug/Collections.pdb
Driver/bin/Debug/Driver.exe
Driver/bin/Debug/Driver.pdb
Driver/bin/Debug/Driver.vshost.exe
Driver/bin/Debug/Driver.vshost.exe.manifest
Driver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Driver/obj/Debug/Driver.csproj.FileListAbsolute.txt
Driver/obj/Debug/Driver.csprojResolveAssemblyReference.cache
Driver/obj/Debug/Driver.exe
Driver/obj/Debug/Driver.pdb
Driver/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Driver/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Driver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
